<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   {# Cargamos la librería #}
   {% load bootstrap4 %}

   {# CSS Bootstrap #}
   {% bootstrap_css %}
</head>

<body>
   <table class="table table-striped table-hover">
      <thead>
         <tr>
            <th width="35%">Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Imagen</th>
         </tr>
      </thead>
      <tbody>
         {% for postre in productos %}
         <tr>
            <td>{{ postre.nombre }}</td>
            <td>{{ postre.precio }}</td>
            <td>{{ postre.stock }}</td>
            <td>
               <img src="{{postre.img}}" alt="{{postre.nombre}}" class="img-fluid" width="7%">
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   {# JS y jQuery Bootstrap #}
   {% bootstrap_javascript jquery='full' %} 
</body>

</html>